:root {
  --font-main: 'Arial', sans-serif;

  --color-text-dark: #333;
  --color-text-light: white;

  --color-surface: #f9f9f9;
  --color-surface-hover: #a7febf;

  --color-link: #28a745;
  --color-link-hover: #218838;

  --color-button-primary: #28a745;
  --color-button-primary-hover: #218838;

  --color-button-disabled: #0f451b;

  --color-delete: #dc0202;

  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 20px;
}

/* Стиль для overlay, который перекрывает весь экран */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стиль для самого модального окна */
.modal {
  background-color: var(--color-text-dark); /* фон как у input и select */
  padding: 20px;
  border-radius: var(--radius-large);
  max-width: 500px;
  width: 100%;
  text-align: center;
  color: var(--color-text-dark); /* тёмный текст */
  font-family: var(--font-main);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* лёгкая тень */
  transition: all 0.3s ease;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-large);
  background-color: var(--color-button-primary);
  color: var(--color-text-light);
  font-family: var(--font-main);
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: var(--color-button-primary-hover);
}
