/* Стиль для overlay, который перекрывает весь экран */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  z-index: 999; /* Убедитесь, что overlay будет поверх всего */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Стиль для самого модального окна */
.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  z-index: 1000; /* Убедитесь, что модальное окно на переднем плане */
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}
